<h1>"Loan Your Place for a Party"
  <p>"Where would you like your event to be?"</p>
  <div class="tiny button dropdown"></div>
  <!-- here list all the forests the user belongs to
  -->
  <!-- if they don't belong to any forest then redirect to search for community page
  -->
  <p>"What is the address where your event is located?"</p>
  <div class="large-12 columns"></div>
  <p>"What city is your event in?"</p>
  <div class="small-9 columns"></div>
  <p>"How big your event? (guesstimations ok!)"</p>
  <div class="small-9 columns"></div>
</h1>
