<div class="form_container">
  <h1>
    Sign Up
  </h1>
  <p>
    Please fill out the form below to create a new account.
  </p>
  <%= render 'user_form' %>
  <p>
    <%= link_to 'back', :back %>
  </p>
</div>
